@inherits AppComponentBase

<PageTitle>عدم دسترسی</PageTitle>

<AuthorizeView>
    <div class="d-flex flex-column text-center pt-0">
        <h3>شما به این قسمت دسترسی ندارید</h3>
        <a href="/">خانه</a>
    </div>
</AuthorizeView>
