@inherits AppComponentBase

<PageTitle>صفحه مورد نظر یافت نشد</PageTitle>
<div class="content-center">
    <div class="m-auto text-center pb-5">
        <h1 class="title text-dark">404</h1>
        <div class="description text-dark">صفحه‌ای که دنبال آن بودید پیدا نشد!</div>
        <a href="/">خانه</a>
    </div>
</div>